
{% load staticfiles %}
<html>
<head>
    <title>Dark Den</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>
<body>

<div class="page-header">
    <h1><a href="/">Dark Den</a></h1>
    <h7> GCECT Freaks</h7>
    {% if request.user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"><h5>Add</h5></span></a>

    {%else%}
    <a href="{% url 'show' %}" class="top-menu"><h5>Login Here</h5></a>
    {% endif %}


</div>
<div class="content container" style="overflow-y: scroll;height: 600px">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>